<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Realecomm Attendance</title>
  <script id="__ada" data-handle="loblaws-og" src="https://static.ada.support/embed2.js"></script>
      <link rel="icon" href="https://images.ctfassets.net/y9kx4mbdq4n2/Ww7BEm8vUHB8qt9StdCH2/22974a248cbed4dba92e8608f196c334/Favicon_White_Bg_2x.png?fm=png" type="image/x-icon">
</head>
<body>





<div class="pill-nav">
  <a class="active" href="#home">Home</a>
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('logout') }}">Log out</a>
    {% if current_user.username == "craig" %}
    <a href="{{ url_for('export_records') }}">Download</a>
    {% endif %}

  {% else %}
  <a href="{{ url_for('login') }}">Log in</a>
  {% endif %}
</div>




<div class="container">
  {% if current_user.is_authenticated %}
  <form action="." method="POST">
    <label>
      <input type="radio" name="office" value="Bathurst" checked/>
      <span>Bathurst</span>
    </label>
    <label>
      <input type="radio" name="office" value="PCC" />
      <span>PCC</span>
    </label>
    <label>
      <input type="radio" name="office" value="Consumers Rd" />
      <span>Consumers Rd</span>
    </label>
    <button type="submit" class="btn btn-success">Check-in</button>
  </form>
  {% endif %}
</div>

</body>
</html>
