<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="/assets/style.css">
      <title>Realecomm Attendance</title>
      <script id="__ada" data-handle="loblaws-og" src="https://static.ada.support/embed2.js"></script>
      <link rel="icon" href="https://images.ctfassets.net/y9kx4mbdq4n2/Ww7BEm8vUHB8qt9StdCH2/22974a248cbed4dba92e8608f196c334/Favicon_White_Bg_2x.png?fm=png" type="image/x-icon">
   </head>
   <body>
      <div class="pill-nav">
         <a class="active" href="#home">Home</a>
         {% if current_user.is_authenticated %}
         <a href="{{ url_for('logout') }}">Log out</a>
         {% if current_user.username == "craig" or current_user.username == "dmonard" %}
         <a href="{{ url_for('export_records') }}">Download</a>
         {% endif %}
         <a>{% print("Hello, " + current_user.username.capitalize()) %}</a>
         {% else %}
         <a href="{{ url_for('login') }}">Log in</a>
         {% endif %}
      </div>
      <div class="container">
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         <div class="flashes">
            {% for message in messages %}
            <div class="flash">{{ message }}</div>
            {% endfor %}
         </div>
         {% else %}
         {% if current_user.is_authenticated %}
         <form action="." method="POST">
            <label>
            <input type="radio" name="office" value="Bathurst" checked/>
            <span>Bathurst</span>
            </label>
            <label>
            <input type="radio" name="office" value="PCC" />
            <span>PCC</span>
            </label>
            <label>
            <input type="radio" name="office" value="Consumers Rd" />
            <span>Consumers Rd</span>
            </label>
            <button type="submit" class="btn btn-success">Check-in</button>
         </form>
         {% else %}
         <div id="openweathermap-widget-11"></div>
         <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 11,cityid: '6167865',appid: '1ecdb805589e03d4172d0f84df322298',units: 'metric',containerid: 'openweathermap-widget-11',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
         {% endif %}
         {% endif %}
         {% endwith %}
      </div>
   </body>
</html>
